* {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bolder;
  color: #666;

  justify-content: center;
  text-align: center;

  margin: 10px;
  line-height: 2;
  overflow-x: hidden
}

section.imagem {
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
  background-size: cover;
  background-attachment: fixed;
}

section#img01 {
  background-image: url('Imagens/shed.jpg.webp');
  background-position: right center;
  width: 1920px;
  height: 500px;
  
}

section#img02 {
  background-image: url('Imagens/55.webp');
  background-position: right center;
  width: 1920px;
  height: 500px;
}

section#img03 {
  background-image: url('Imagens/rw.jpg');
  background-position: right center;
  width: 1920px;
  height: 500px;
}

section#img04 {
  background-image: url('Imagens/55.jpeg');
  background-position: right center;
  width: 1920px;
  height: 500px;
}

section#img05 {
  background-image: url('Imagens/vibe.png');
  background-position: right center;
  width: 1920px;
  height: 500px;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: black;

  padding: 5px;
  border-radius: 5px;

  text-align: center;

  background-color: white;
  padding: 5px;
  border-radius: 5px;
  display: flex;
}

h2{
  font-size: 20px;
  color: black;

  background-color: white;
  padding: 5px;
  border-radius: 5px;
  display: flex;
}

.nomes_balada, .titulos {
    font-size: 22px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: #FF005D;
    padding-left: 25px;
    padding-right: 25px;
  }

.listas {
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  display: inline-block;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.listas1 {
    text-align: center;
    font-size: 15px;
    background-color:  white;
    margin: auto;
    border-radius: 5px;
}

li, .p {
  background-color: white;
 }

.container {
    display: flex;
  }
  
  .container img {
    width: 30%;
    height: 40%;
    float: left;
    margin-right: 20px;
  }
  
  .container table {
    width: 50%;
    float: left;
  }

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #copyright {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    color: #666;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }

  .sombras{
    border: solid thick rgb(0, 0, 0);
    border-radius: 1em;
    box-shadow: rgb(255, 0, 93) 0.5em 0.5em 0.3em;
  }